.no-margin-top {
  margin-top: 0;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #333;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  container: nova-container / inline-size;
}
.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.default-padding {
  padding: 7px 15px;
}
.center-content {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}
.center-content.margin-50 {
  margin: 50px auto;
}
.nova-logo {
  height: 75px;
  margin: 10px 0;
}
@container nova-container (max-width: 650px) {
  #hero {
    height: 500px;
  }
}
button {
  border: 0;
  color: #fff;
  background-color: #39aa9b;
  border-radius: 7px;
  padding: 7px 15px;
}
#mainNav {
  background-color: rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#mainNav.scrolled {
  background-color: #39aa9b;
  -webkit-box-shadow: 0 0 15px #000000cc;
          box-shadow: 0 0 15px #000000cc;
}
#mainNav .center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mainNav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#mainNav .nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  cursor: pointer;
}
#mainNav .nav-links li:hover {
  background-color: #00000022;
}
#mainNav .nav-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  padding: 0 15px;
}
#mainNav #menu-toggle,
#mainNav .hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  #mainNav .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  #mainNav .nav-links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #444;
  }
  #mainNav .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }
  #mainNav #menu-toggle:checked ~ .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-position: center;
}
#hero.home {
  height: 700px;
  background-image: url('/img/home/sf-skyline-nova.jpg');
}
#hero.home .center-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#hero.home .center-content h1 {
  margin-top: 100px;
  color: #fff;
  max-width: 600px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}
@media (max-width: 600px) {
  #hero.home .center-content h1 {
    max-width: none;
  }
}
#hero.home .center-content .certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 10px;
}
#hero.home .center-content .certifications img {
  max-height: 80px;
}
@media (max-width: 1000px) {
  #hero.home .center-content .certifications {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
#hero.services {
  height: 500px;
  background-image: url('/img/services/servicesHero.jpeg');
}
#hero .center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 25px;
  overflow: hidden;
}
#hero .center-content .page-title {
  margin-bottom: -40px;
  color: #fff;
  text-shadow: 0 0 20px #00000055;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#hero .center-content .page-title h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin: 0;
}
#services {
  background-color: #f5f5f5;
}
#services .page-section-info .section-title {
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  margin: 20px 0 0 0;
}
#services .page-section-info h2 {
  text-align: center;
  font-weight: normal;
  font-size: 26px;
  margin: 0;
}
#services #servicesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 50px 0;
  gap: 40px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
#services #servicesContainer .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  width: calc(50% - 20px);
  opacity: 0;
  -webkit-transform: translateY(-30px) rotateX(10deg);
          transform: translateY(-30px) rotateX(10deg);
  -webkit-transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-out;
  transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-out;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  min-height: 300px;
}
#services #servicesContainer .service-item.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0deg);
          transform: translateY(0) rotateX(0deg);
  visibility: visible;
}
#services #servicesContainer .service-item .service-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 50%;
  background-size: cover;
  background-position: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: 15px solid #fff;
  position: relative;
  z-index: 0;
  background-clip: padding-box;
}
@media (max-width: 650px) {
  #services #servicesContainer .service-item .service-item-img {
    width: 100%;
    height: 300px;
    -webkit-box-ordinal-group: inherit !important;
        -ms-flex-order: inherit !important;
            order: inherit !important;
    -webkit-mask-image: none;
            mask-image: none;
  }
}
#services #servicesContainer .service-item .service-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 50%;
  padding: 30px;
  gap: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#services #servicesContainer .service-item .service-details .service-title {
  font-size: 20px;
  margin: 0;
}
#services #servicesContainer .service-item .service-details .service-info {
  color: #666;
}
@media (max-width: 650px) {
  #services #servicesContainer .service-item .service-details {
    width: 100%;
    -webkit-box-ordinal-group: inherit !important;
        -ms-flex-order: inherit !important;
            order: inherit !important;
  }
}
#services #servicesContainer .service-item:nth-child(even) .service-item-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#services #servicesContainer .service-item:nth-child(even) .service-details {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1000px) {
  #services #servicesContainer .service-item {
    width: 100%;
    min-height: 300px;
  }
}
.split-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 40px;
}
.split-content-container .split-content-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 20px);
          flex: 0 0 calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
@media (max-width: 1000px) {
  .split-content-container.collapse-container > .split-content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.nova-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 12px;
  container-name: nova-list;
  container-type: inline-size;
}
.nova-list li {
  font-size: 16px;
  color: #666;
  list-style: none;
  padding: 0 0 0 35px;
  margin: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMSIgdmlld0JveD0iMCAwIDEwMy4yOCAxMDMuMjgiPjxwYXRoIGQ9Ik02MC44MyA0Mi40NSA1MS42NCAwbC05LjE5IDQyLjQ1TDAgNTEuNjRsNDIuNDUgOS4xOSA5LjE5IDQyLjQ1IDkuMTktNDIuNDUgNDIuNDUtOS4xOXoiIGRhdGEtY29sb3I9IjMiIHN0eWxlPSJmaWxsOiNmYmFhMWIiLz48L3N2Zz4=");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@container nova-list (max-width: 600px) {
  .nova-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
#nova-footer {
  background: #444;
  color: #fff;
}
#nova-footer .center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 60px;
}
#nova-footer .center-content a {
  color: #fbaa1b;
  text-decoration: none;
}
#nova-footer .center-content a:hover {
  text-decoration: underline;
}
#nova-footer .center-content .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: 0 0 auto;
          flex-flow: 0 0 auto;
  padding: 15px 0;
}
#nova-footer .center-content .footer-logo img {
  width: 100px;
}
@media (max-width: 1000px) {
  #nova-footer .center-content .footer-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
#nova-footer .center-content .company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 10px;
  padding: 15px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1000px) {
  #nova-footer .center-content .company-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 30px);
            flex: 1 1 calc(50% - 30px);
  }
}
@media (max-width: 600px) {
  #nova-footer .center-content .company-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
#nova-footer .center-content .company-info .company-name {
  font-size: 18px;
  color: #39aa9b;
}
#nova-footer .center-content .company-info p {
  margin: 0;
}
#nova-footer .center-content .company-info .copyright-text {
  color: #aaa;
}
#nova-footer .center-content .contact-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 10px;
  padding: 15px 0;
  text-align: right;
}
@media (max-width: 1000px) {
  #nova-footer .center-content .contact-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 30px);
            flex: 1 1 calc(50% - 30px);
  }
}
@media (max-width: 600px) {
  #nova-footer .center-content .contact-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: left;
  }
}
#nova-footer .center-content .contact-info p,
#nova-footer .center-content .contact-info h1 {
  margin: 0;
}
#nova-footer .center-content .contact-info .phone-link {
  font-size: 24px;
  color: #fbaa1b;
}
#nova-footer .center-content .contact-info .phone-link:hover {
  text-decoration: none;
}
.call-to-action-container .call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.call-to-action-container .call-to-action .phone-number {
  color: #fbaa1b;
  font-size: 35px;
  font-weight: 600;
}
.call-to-action-container .call-to-action-text {
  color: #666;
  font-size: 16px;
}
