body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  container: nova-container / inline-size;
}
.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.default-padding {
  padding: 7px 15px;
}
.center-content {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}
.nova-logo {
  height: 75px;
}
@container nova-container (max-width: 650px) {
  #hero {
    height: 500px;
  }
}
button {
  border: 0;
  color: #fff;
  background-color: #39aa9b;
  border-radius: 7px;
  padding: 7px 15px;
}
#mainNav {
  background-color: rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
}
#mainNav.scrolled {
  background-color: #39aa9b;
}
#mainNav .center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mainNav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
#mainNav .nav-links li a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}
#mainNav .nav-links li a:hover {
  text-decoration: underline;
}
#mainNav #menu-toggle,
#mainNav .hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  #mainNav .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  #mainNav .nav-links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #444;
  }
  #mainNav .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }
  #mainNav #menu-toggle:checked ~ .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('/img/home/sf-skyline-nova.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 700px;
  background-position: center;
}
#hero .center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 25px;
}
#hero .center-content .certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
#hero .center-content .certifications img {
  max-height: 80px;
}
#services {
  background-color: #f5f5f5;
}
#services .page-section-info .section-title {
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  margin: 20px 0 0 0;
}
#services .page-section-info h2 {
  text-align: center;
  font-weight: normal;
  font-size: 26px;
  margin: 0;
}
#services #servicesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 50px 0;
  gap: 40px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
#services #servicesContainer .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  width: calc(50% - 20px);
  opacity: 0;
  -webkit-transform: translateY(-30px) rotateX(10deg);
          transform: translateY(-30px) rotateX(10deg);
  -webkit-transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-out;
  transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-out;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  min-height: 300px;
}
#services #servicesContainer .service-item.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0deg);
          transform: translateY(0) rotateX(0deg);
  visibility: visible;
}
#services #servicesContainer .service-item .service-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 50%;
  background-size: cover;
  background-position: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: 15px solid #fff;
  position: relative;
  z-index: 0;
  background-clip: padding-box;
}
@media (max-width: 650px) {
  #services #servicesContainer .service-item .service-item-img {
    width: 100%;
    height: 300px;
    -webkit-box-ordinal-group: inherit !important;
        -ms-flex-order: inherit !important;
            order: inherit !important;
    -webkit-mask-image: none;
            mask-image: none;
  }
}
#services #servicesContainer .service-item .service-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 50%;
  padding: 30px;
  gap: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#services #servicesContainer .service-item .service-details .service-title {
  font-size: 20px;
  margin: 0;
}
#services #servicesContainer .service-item .service-details .service-info {
  color: #666;
}
@media (max-width: 650px) {
  #services #servicesContainer .service-item .service-details {
    width: 100%;
    -webkit-box-ordinal-group: inherit !important;
        -ms-flex-order: inherit !important;
            order: inherit !important;
  }
}
#services #servicesContainer .service-item:nth-child(even) .service-item-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
#services #servicesContainer .service-item:nth-child(even) .service-details {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1000px) {
  #services #servicesContainer .service-item {
    width: 100%;
    min-height: 300px;
  }
}
